
{% extends "base1.html" %}

{% block body_class %}template-403{% endblock %}

{% block content %}
    <h1>Forbidden</h1>

   {% if detail %} <h2>Sorry, {{ detail }} </h2> {% endif %}
    <h2>Sorry, you can't access this page </h2>

{% endblock %}
