{% extends "base1.html" %}
{% block content %}
<div class="row">
<div class="col-md-9">
<h1>Music</h1>
<div><h3>Add New</h3> <a href="{% url 'music:music_new' %}">Here</a>
</div>
<br/>
{% block search %}
    <h1>Search</h1>
    <form action="{% url 'musiclist' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search" class="btn btn-success">
    </form>
{% endblock %}
{% if not page_obj %}<p>No matches find!</p>
  {% elif search_query %}
    <p> Found: {{ musics.count }}</p>
{% endif%}
<ul>
    {% for music in page_obj %}
    <li><div>{{ music.title }}</div>
        <div>views:{{ music.views }}</div>
        <div><a href="{% url 'music:music_dt' music.id %}" > Listen</a></div> </li>
    {% endfor %}

    {% if page_obj %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&query={{ search_query }}">previous</a>
            {% endif %}
            <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&query={{ search_query }} ">next</a>
                {% endif %}
        </span>
    </div>
    {% endif %}

</ul>
</div>
<div class="col-md-3">
<div>
    <h1>Suggested Music</h1>
    <ul>
    {% for music in allmusics %}

        <li>
            <div>{{ music.title }} votes:{{ music.votes }}</div>
            <div>
                <a href="{% url 'music:music_dt' id=music.id %}" > Listen</a>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
    <br/>
    {% if mymusic %}
    <div>
    <h1>My Music</h1>
    <ul>
    {% for music in mymusic %}

        <li>
            <div>{{ music.title }} view:{{ music.views }}</div>
            <div>
                <a href="{% url 'music:music_dt' id=music.id %}" > Listen</a>
            </div>
        </li>
    {% endfor %}
    </ul>

    </div>
    {% endif %}
</div>
</div>
    {% endblock %}
