{% block content %}

    <div id="login-app" >
        <div class="row">
            <div class="col-sm">
                <h2>Login</h2>
            </div>
        </div>


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>


    </div>

{% endblock %}

