{% extends "base1.html" %}
{% load vue_tags %}
{% block content %}

<div id="login-app" hidden>

        <div class="row">
            <div class="col-sm">
                <h2>Login</h2>
            </div>
        </div>
        <p v-for="error in nonFieldErrors" :key="error" class="text-danger">{( error )}</p>
        <p id="lgnf" class="text-danger" hidden>Login Failed</p>
        <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy">
            <form @submit.prevent="handleSubmit(submit)" novalidate="true">
                <div class="row">
                    <div class="col-sm">
                        {% render_vue_form serializer %}
                    </div>
                </div>
                <button class="btn btn-primary">Login</button>
            </form>
        </validation-observer>
        You don't have account? <a href="{% url 'user:signup' %}"> register </a> now
    </div>

{% endblock %}

{% block extra_js %}

    <script>
        new Vue({
            el: '#login-app',
            mixins: [djVueMixin],
            data() {
                return {
                    actionURL: '{% url "user:login" %}',
                    form: {
                        email: null,
                        password: null
                    }
                }
            },
            methods: {
                success(response) {
                    if (response.data.user === "done")
                        window.location.href = "{% url 'musiclist' %}"
                    else
                    {
                    let lgnf = document.getElementById('lgnf');
                    lgnf.removeAttribute("hidden");
                    }
                }
            }
        })
        // remove hidden
        let appEl = document.getElementById('login-app');
        appEl.removeAttribute("hidden");
    </script>

{% endblock %}