{% extends "base1.html" %}
{% load vue_tags %}
    {% block content %}
    <h1>{{ music.title }}</h1>
    <p>{{ music.description }} <br/> added by: {{ music.created_by.display_name }} </p>
    <div>views: {{ listen }} </div>
{% if update %}<div><a href="{% url 'music:music_update' music.id %}"> Edit </a> </div>
    {% endif%}
<p>download the song from  <a href=\media\{{ music.file }} download>here</a></p>

<audio id="player" src="\media\{{ music.file }}"></audio>
<div id="listen-app" hidden>


        <p v-for="error in nonFieldErrors" :key="error" class="text-danger">{( error )}</p>

               <div class="row">
                    <div >
        <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy">
            <form @submit.prevent="handleSubmit(submit)" novalidate="true">

                        <button class="btn btn-success" style="margin-right:10px;" v-on:click="playMusic()">Play</button>
            </form>
        </validation-observer>
                    </div>
<div >
                        <button class="btn btn-danger" onclick="document.getElementById('player').pause()">Pause</button>
                        <progress id="seekbar" value="0" max="1" style="width:400px;"></progress>
                        <button class="btn btn-info" onclick="document.getElementById('player').volume += 0.1">Vol+ </button>
                        <button class="btn btn-info" onclick="document.getElementById('player').volume -= 0.1">Vol- </button>
                    </div>
               </div>
        </div>

 <div id="voting-app" hidden>


        <p v-for="error in nonFieldErrors" :key="error" class="text-danger">{( error )}</p>

        <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy">
            <form @submit.prevent="handleSubmit(submit)" novalidate="true">
               <div class="row">
                    <div class="col-sm">
                          <h4>Votes:</h4>
                        <button name='vote' v-on:click="decrease" class="btn btn-success" value="-1">-</button>
                            {{ votes }}
                        <button v-on:click="increase" name='vote' value="1" class="btn btn-success">+</button>
                    </div>
               </div>
            </form>
        </validation-observer>
 </div>


    <ul>

    <div id="comment-app" hidden>
        <p v-for="error in nonFieldErrors" :key="error" class="text-danger">{( error )}</p>

        <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy">
            <form @submit.prevent="handleSubmit(submit)" novalidate="true">
                <div class="row">
                    <div class="col-sm">
                     {% for comment in comments %}
                        <li> <div style="color:Orange; font-size=20px;">{{ comment.owner.display_name }} </div>
                            <div style="margin-left:10px; text-decoration:underline;">{{ comment.comment }} {% if comment.owner.id is user.id %}
                          <button class="btn btn-link" v-on:click="deletereact({{ comment.id }})" >Delete</button>
                          {% endif %}</div>

                      </li>
                        {% endfor %}

                    </div>
                </div>

            </form>
        </validation-observer>

    </div>


    <div id="music-app" hidden>
        <p v-for="error in nonFieldErrors" :key="error" class="text-danger">{( error )}</p>

        <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy">
            <form @submit.prevent="handleSubmit(submit)" novalidate="true">
                <div class="row">
                    <div class="col-sm">
                        {% render_vue_field serializer.comment %}
                    </div>
                </div>
                <button class="btn btn-success">Comment</button>
            </form>
        </validation-observer>

    </div>


    </ul>
    {% endblock %}

{% block extra_js %}
    <script>
        let vm = new Vue({
            el: '#music-app',
            mixins: [djVueMixin],
            data() {
                return {
                    actionURL: '{% url "music:comment" %}',
                    form: {
                        comment: null,
                        owner:{{ user.user.id }},
                        music:{{ music.id }},

                    }
                }
            },
            methods: {
                success(response) {
                    window.location.reload(false);
                }
            }

        })
        // remove hidden
        let appEl = document.getElementById('music-app');
        appEl.removeAttribute("hidden");

    </script>
    <script>


        let vm4 = new Vue({
            el: '#comment-app',
            mixins: [djVueMixin],
            data() {
                return {
                    actionURL: '{% url "music:react_del" %}',
                    form: {
                        id: null,
                        owner:{{ user.user.id }},
                        music:{{ music.id }},

                    }
                }
            },
            methods: {
                success(response) {
                    window.location.reload(false);
                },
                deletereact(val)
                {  this.form.id=val;
                }
            }

        })
        // remove hidden
        let commapp = document.getElementById('comment-app');
        commapp.removeAttribute("hidden");

    </script>

    <script>
        let vm3 = new Vue({
            el: '#listen-app',
            mixins: [djVueMixin],
            data() {
                return {
                    actionURL: '{% url "music:listen" %}',
                    form: {
                        first: null,
                        owner:{{ user.user.id }},
                        music:{{ music.id }},

                    }
                }
            },
            methods: {
                success(response) {
                },
                playMusic: function() {
                        document.getElementById('player').play();
                        this.form.first++;
                }


            }

        })
        // remove hidden
        let applis = document.getElementById('listen-app');
        applis.removeAttribute("hidden");

    </script>

    <script>
        let vm5 = new Vue({
            el: '#voting-app',
            mixins: [djVueMixin],
            data() {
                return {
                    actionURL: '{% url "music:vote" %}',
                    form: {
                        value: null,
                        owner:{{ user.user.id }},
                        music:{{ music.id }},

                    }
                }
            },
            methods: {
                success(response) {
                    window.location.reload(false);
                },
                increase: function() {
                console.log(this.form.value);
                    this.form.value++;
                },
                decrease:  function() {
                    console.log(this.form.value);
                    this.form.value--;
                }

            }

        })
        // remove hidden
        let appvot = document.getElementById('voting-app');
        appvot.removeAttribute("hidden");
    </script>

    <script>
        var player = document.getElementById('player');
        player.addEventListener("timeupdate", function() {
        var currentTime = player.currentTime;
        var duration = player.duration;
        var seekbar = document.getElementById('seekbar');
        seekbar.setAttribute("value", currentTime / duration);

        });

    </script>
{% endblock %}
