{% extends "base1.html" %}
{% load vue_tags %}

{% block content %}
    <div id="music-app" hidden>
        <div class="row">
            <div class="col-sm">
                <h2>Change Music</h2>
            </div>
        </div>
        <p v-for="error in nonFieldErrors" :key="error" class="text-danger">{( error )}</p>

        <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy">
            <form @submit.prevent="handleSubmit(submit)" novalidate="true">
                <div class="row">
                    <div class="col-sm">
                        {% render_vue_field serializer.title %}
                        {% render_vue_field serializer.description %}

                        {% render_vue_field serializer.file %}

                    </div>
                </div>
                <button class="btn btn-success">Save</button>
            </form>
        </validation-observer>

    </div>
    <div id="del-app" hidden>
        <div class="row">
            <div class="col-sm">
                <h3>Delete Music</h3>
            </div>
        </div>
        <p v-for="error in nonFieldErrors" :key="error" class="text-danger">{( error )}</p>

        <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy" >
            <form @submit.prevent="handleSubmit(submit)" novalidate="true"  >
                <button class="btn btn-danger">Delete</button>
            </form>
        </validation-observer>

    </div>
{% endblock %}

{% block extra_js %}

    <script>
        let vd = new Vue({
            el: '#del-app',
            mixins: [djVueMixin],
            data() {
                return {
                    actionURL: '{% url "music:music_del" sdata.id %}',
                    form: {
                        id: {{ sdata.id }},
                    }
                }
            },
            methods: {
                success(response) {
                    window.location.reload(false);
                }
            }
        })
        // remove hidden
        let delEl = document.getElementById('del-app');
        delEl.removeAttribute("hidden");

    </script>

    <script>
        let vm = new Vue({
            el: '#music-app',
            mixins: [djVueMixin],
            data() {
                return {
                    actionURL: '{% url "music:music_update" sdata.id %}',
                    form: {
                        id: {{ sdata.id }},
                        title: '{{ sdata.title }}',
                        description: '{{ sdata.description }}',
                        created_by_id: '{{ sdata.created_by_id }}'
                    }
                }
            },
            methods: {
                success(response) {
                    window.location.reload(false);
                }
            }


        })
        // remove hidden
        let appEl = document.getElementById('music-app');
        appEl.removeAttribute("hidden");

    </script>

{% endblock %}