{% extends "base1.html" %}
{% block content %}
<h1>Musics</h1>
<h3>Add New</h3> <a href="{% url 'music:music_new' %}">Here</a>
<ul>

    {% for music in musics %}
    <li>{{ music.title }} <a href={% url 'music:music_dt' id=music.id %} > view</a> </li>
    {% endfor %}
</ul>

{% endblock %}