{% extends "base1.html" %}
{% load vue_tags %}

{% block content %}
    <div id="music-app" hidden>
        <div class="row">
            <div class="col-sm">
                <h2>New Music</h2>
            </div>
        </div>

        <p v-for="error in nonFieldErrors" :key="error" class="text-danger">{( error )}</p>

        <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy">
            <form @submit.prevent="handleSubmit(submit)" novalidate="true">

                <div class="row">
                    <div class="col-sm">
                        {% render_vue_field serializer.title %}
                        {% render_vue_field serializer.description %}
                        {% render_vue_field serializer.file %}
                    </div>
                </div>
                <button class="btn btn-success">Save</button>
            </form>
        </validation-observer>

    </div>
{% endblock %}

{% block extra_js %}

    <script>
        let vm = new Vue({
            el: '#music-app',
            mixins: [djVueMixin],
            data() {
                return {
                    actionURL: '{% url "music:music_new" %}',
                    form: {
                        created_by_id:{{user.id}},
                        title: null,
                        description: null

                    }
                }
            }

        })
        // remove hidden
        let appEl = document.getElementById('music-app');
        appEl.removeAttribute("hidden");

    </script>

{% endblock %}