{% extends "base1.html" %}
{% load vue_tags %}

    {% block content %}
    <h1>{{ music.title }}</h1>
    <p>{{ music.description }}</p>
<p>download the song from  <a href=\media\{{ music.file }} download>here</a></p>
    <ul>
        {% for comment in comments %}
        <li>{{ comment.owner.display_name }} : {{ comment.comment }}</li>
        {% endfor %}


    <div id="music-app" hidden>


        <p v-for="error in nonFieldErrors" :key="error" class="text-danger">{( error )}</p>

        <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy">
            <form @submit.prevent="handleSubmit(submit)" novalidate="true">
                <div class="row">
                    <div class="col-sm">
                        {% render_vue_field serializer.comment %}
                    </div>
                </div>
                <button class="btn btn-success">Comment</button>
            </form>
        </validation-observer>

    </div>


    </ul>
    {% endblock %}

{% block extra_js %}

    <script>
        let vm = new Vue({
            el: '#music-app',
            mixins: [djVueMixin],
            data() {
                return {
                    actionURL: '{% url "music:comment" %}',
                    form: {
                        comment: null,
                        owner:{{ user.id }},
                        music:{{ music.id }},

                    }
                }
            },
            methods: {
                success(response) {
                    window.location.reload(false);
                }
            }

        })
        // remove hidden
        let appEl = document.getElementById('music-app');
        appEl.removeAttribute("hidden");

    </script>

{% endblock %}
